.cards{
    display: grid;
    grid-template-rows: repeat(2, 361px);
    grid-template-columns: repeat(3, 282px);
    row-gap: 20px;
    column-gap: 17px;
    margin: 0 200px 0;
    padding-bottom: 7px;
}

