.cards{
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(2, 361px);
    grid-template-columns: repeat(3, 282px);
    row-gap: 20px;
    column-gap: 17px;
    margin: 0 auto 0;
    padding-bottom: 7px;
}

@media screen and (max-width:887px) {
    .cards{
        grid-template-rows: repeat(3, 361px);
        grid-template-columns: repeat(2, 282px);
    }
}

@media screen and (max-width:610px){
    .cards{
        grid-template-rows: repeat(6, 361px);
        grid-template-columns: repeat(1, 282px);
    }
}