.popup__container{
    top: 195px;
    align-self: center;
    width: 430px;
    height: 330px;
    background-color: white;
    border-radius: 10px;
    font-family: Inter, Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
}

@media screen and (max-width:610px){
    .popup__container{
        width: 282px;
    }
}

