.profile__job{
    margin: 16px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width: 675px){
    .profile__job{
        text-align: center;
        font-size: 14px;
        line-height: 17px;
        margin-top: 14px;
        margin-bottom: 36px;
    }
}

