.popup__image{
    justify-self: center;
    align-self: center;
    max-width: 816px;
    height: 540px;
}

@media screen and (max-width: 610px){
    .popup__image{
    max-width: 240px;
    height: 299px;
    }
}