.profile__avatar{
    border-radius: 55%;
    margin: 0;
    max-height: 120px;
    
}

@media screen and (max-width: 888px) {
    .profile__avatar{
        margin: auto;
    }
}

@media screen and (max-width: 610px){
    .profile__avatar{
      grid-area: ava;
    }
  }