.card__image{
    grid-area: image;
    border-radius: 10px 10px 0px 0px;
    height: 282px;
    cursor: pointer;
}

.card__image:hover{
    transform: scale(1.01);
    transition: ease-in-out 0.3s;
}