.card__heart-button{
    padding: 10px 10px;
    background-image:url(../../../images/card/card__heart-butten.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    border: transparent;
    transition: all .2s ease;
    cursor: pointer;
}

.card__heart-button:hover {
    opacity: .6;
  }