.user__popup-button{
    box-sizing: border-box;
    border: 1px solid #FFFFFF;
    background-color: transparent;
    height: 24px;
    width: 24px;
    padding: 7px;
    margin-top: 36px;
    border-radius: 2px;
    transition: all .2s ease;
    cursor: pointer;
    background-image: url(../../../images/user/user__popup-button.svg);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .user__popup-button:hover {
    opacity: .6;
  }